
@custom-media --mobile (max-width: 32rem);
@custom-media --mobile (max-width: 50rem);
@custom-media --desktop (min-width: 50rem);

:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Grey-200: hsl(0, 0%, 50%);

    --Body-Font: "Josefin Sans";
    --Heading-Font: "Alata";

    --max-width: 64rem;
}
